.header {
    width: 100%;
    z-index: 9999;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);

    backdrop-filter: blur(9px);

    &_content {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        padding: 0 30px;
    }
}

.menu {
    display: flex;
    gap: 35px;
}

@media (max-width: 1440px) {
    
}