.dropdown {
    position: relative;
    display: inline-block;

    &_toggle {
        cursor: default;
        font-size: 17px;
        color: #848895;

        transition: color .3s;

        &:hover {
            color: white;
        }
    }

    &_menu {
        position: absolute;
        top: 40px;
        left: -40px;
        background-color: rgba(0,0,0,0.7);
        border-radius: 9px;
        padding: 20px;
        z-index: 1000;
        min-width: 150px;
        
        & div {
            margin: 5px 0;
        }
    }
}

.arrow {
    transition: .2s ease;
}

.rotate {
    transform: rotate(-180deg);
    transition: .2s ease;
}