.main {
    background-image: url('/home/herobg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    padding-top: 250px;
    padding-bottom: 120px;

    & h1 {
        font-weight: 700;
        font-size: 70px;
        line-height: 108%;
        letter-spacing: 0.01em;
        text-align: center;
    }

    & .btngroup {
        display: flex;
        gap: 15px;
    }
    
    & .subtitle {
        font-size: 21px;
        line-height: 130%;
    }
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

    & p {
        text-transform: uppercase;
        color: #618ADC;
    }

    &_logo {
        margin-top: 40px;
        display: flex;
        gap: 30px;
    }
}