.main {
    background-image: url('/home/herobg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    padding-top: 250px;
    padding-bottom: 120px;

    & h1 {
        font-weight: 700;
        font-size: 70px;
        line-height: 108%;
        letter-spacing: 0.01em;
        text-align: center;
    }

    & .btngroup {
        display: flex;
        gap: 15px;
    }
    
    & .subtitle {
        font-size: 21px;
        line-height: 130%;
    }
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

    & p {
        text-transform: uppercase;
        color: #618ADC;
    }

    &_logo {
        margin-top: 40px;
        display: flex;
        gap: 30px;
    }
}

@media (max-width: 1440px) {
    .main {
        & h1 {
            font-size: 48px;
        }

        & .subtitle {
            font-size: 18px;
        }
    }
}

@media (max-width: 1200px) {
    .partners {
        &_logo {
            gap: 15px;

            & img {
                width: 80%;
            }

            & div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        padding-top: 200px;
        padding-left: 60px;
        padding-right: 60px;
        background-position: unset;

        & h1 {
            font-size: 38px;
        }

        & .subtitle {
            font-size: 16px;
            text-align: center;
        }
    }

    .partners {
        & p {
            text-align: center;
            margin-left: 60px;
            margin-right: 60px;
        }
    }
}

@media (max-width: 576px) {
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}