.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.count {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 131%;
    font-size: 115px;
    font-weight: 500;
}

.title {
    font-size: 16px;
    text-transform: uppercase;
    color: #c4c4c4;
}

@media (max-width: 1440px) {
    .count {
        font-size: 80px;
    }

    .wrapper {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .count {
        font-size: 58px;
    }

    .wrapper {
        margin-bottom: 30px;
        align-items: center;
    }
}